
<!-- ************************************************************  -->
<!-- This program was developed to solve Martyr2 projects          -->
<!-- Category: -->
<!-- Number: -->
<!-- Description: -->
<!-- ************************************************************  -->
<!-- Developer: hack4Lucy (Email: hack4Lucy@gmail.com)             -->
<!-- Date: XXX                                                     -->
<!-- ************************************************************  -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Problem X: XXX</title>

	<!-- Import CSS style "Euler" -->
	<link rel="stylesheet" href="css/style_Euler.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="container">

	<!-- Title -->
	<div class="header">
			<h3>Problem X: XXX</h3>
	</div>
	<br>

	<!-- Problem Description -->
	<div class="problem">
			<p>
				Description: <br><br>
				XXX
			 </p>
	</div>
	<br>

	<!-- Solution -->
	<!-- Please provide your input value in the INPUT text box  -->
	<div class="solution">
			<form>
				<!-- <label>Input: </label> <input type="text" id="input_value" autofocus="true"> <br><br> -->
				<!-- <label>Output:</label> <input type="text" id="answer"> -->
				<br>
				<br>
				<!-- <input type="button" value="Solve" id="btnSolve" onclick="main()"> -->
			</form>
	</div>

</div> <!-- END CONTAINER -->

<!-- Import JS script -->
<script src="source/logic_Martyr2-Category-X.js"></script>

</body>
</html>
