body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: #ccc;
}

.header {
  width: 500px;
  border: 3px solid red;
  padding: 10px;
  background-color: white;
  clear: both;
}

.problem {
  border: 3px solid blue;
  padding: 10px;
  background-color: white;
}

.solution {
  width: 500px;
  border: 3px solid green;
  padding: 20px;
  background-color: white;
  clear: both;
}

input {
  font-size: 20px;
  width: 200px;
  height: 20px;
  border: border 5px #BFBDBD;
}

label {
  display: inline-block;
  width: 75px;
  text-align: left;
}

#btnEulerID1 {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  background-color: orange;
}

#btnEulerID1:hover {
    border: none;
    background: green;
    box-shadow: 0px 0px 1px #777;
}
